<div id='container'>
    <div class="navigation">
    <ul>
      <li>
        <a href="#/links">All Links</a>
      </li>
    </ul>
  </div>

  <h1>Shorten a Link</h1>

  <form name="shortenForm" ng-controller="ShortenController">
    <input type="url" ng-model="link" placeholder="Enter your link" novalidate required/>
    <button ng-click="addLink()" class="button" ng-disabled="shortenForm.$invalid">Add Link</button>
    {{link.url}}
    <div role="alert">
    <span class="error" ng-show="shortenForm.$error.url && shortenForm.$dirty">
      Format website with "http://www."</span>
    </div>
  </form>
</div>


