<div id="teams" ng-controller='TeamsCtrl as ctrl' layout="column">
  <h1 class="md-display-2">{{ctrl.data.currentLeagueName}}</h1>

  <md-button class="md-primary md-raised" ng-click="ctrl.showCreateTeam($event)" flex-sm="100" flex-md="100" flex-gt-md="auto">
    Create Team
  </md-button>

  <md-content layout-padding layout="row" layout-sm="column">
    <md-input-container flex>
      <label>Filter</label>
      <input ng-model="ctrl.filter">
    </md-input-container>
  </md-content>

  <md-toolbar class="md-theme-light">
    <h2 class="md-toolbar-tools">
      <span>Active Teams</span>
    </h2>
  </md-toolbar>


  <md-content>
    <md-list>
      <md-list-item class="md-3-line" ng-repeat="team in ctrl.data.teams">
        <div class="md-list-item-text">
          <h3>
            <a ui-sref="teampage({leagueId: leagueId, teamId: team[0].id})">{{team[0].teamname}}</a>
          </h3>
          <h4>{{ team[1].wins }}/{{ team[1].losses }}/{{ team[1].ties }}</h4>
        </div>
        <md-button class="md-warn" aria-label="Delete" ng-click="ctrl.removeTeam(team[0])">
          Delete
        </md-button>
        <md-divider ng-if="!$last"></md-divider>
      </md-list-item>
    </md-list>
  </md-content>

    <!-- <div ng-repeat="team in ctrl.data.teams | orderBy:'-wins'">
      <div class="row">
        <div class="col-sm-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <a class="panel-title" ui-sref="teampage({leagueId: leagueId, teamId: team[0].id})">{{team[0].teamname}}</a>
              <button class="btn btn-sm btn-danger pull-right" ng-click="ctrl.removeTeam(team[0])">Delete</button>
            </div>
            <div class="panel-body">
              {{ team[1].wins }}/{{ team[1].losses }}/{{ team[1].ties }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>