<div id='container'>
    <div class="navigation">
    <ul>
      <li>
        <a href="#/leagues">All Leagues</a>
      </li>
    </ul>
  </div>

  <h1>{{data.currentLeagueName}}</h1>

  <form name="createTeamForm" ng-submit='addTeam()'>
    <input type='text'ng-model='data.teamname' placeholder="Team Name" novalidate required>
    <button ng-disabled="createTeamForm.$invalid">Create Team</button>
  </form>

  <div class="leagues">
      <div ng-repeat="team in data.teams" class="league" ui-sref="teampage({leagueId: leagueId, teamId: team.id})" | orderBy:"team.wins">
        <img src="../assets/redirect_icon.png" />
        <div class="title">{{team.teamname}}</div>
        <div class="original">{{ team.wins }}/{{ team.losses }}/{{ team.ties }}</div>
        <button class="delete" ng-click="removeTeam(team)">Delete</button>
      </div>
    </div>
</div>


