<div id="user" ng-controller='LeaguesCtrl as vm' layout="column">
  <div class="container">
    
      <h1>Create a League</h1>

    <form name="createLeagueForm" ng-submit='vm.createLeague()'>
      <div class="input-group input-group-lg">
        <input type='text' class="form-control" aria-describedby="sizing-addon1" ng-model='vm.data.leaguename' placeholder="League Name" novalidate required>
      </div>
      <div class="input-group input-group-lg">
        <input type='text' class="form-control" aria-describedby="sizing-addon1" ng-model='vm.data.description' placeholder="Description" novalidate required>
      </div>
      <br>
      <button type="submit" class="btn btn-lg btn-default" ng-disabled="createLeagueForm.$invalid">Create League</button>
    </form>
  </div>

  <div class="container">
    <div class="page-header">
      <h1>Active Leagues</h1>
    </div>

    <div ng-repeat="league in vm.data.leagues">
      <div class="row">
        <div class="col-sm-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <a class="panel-title" ui-sref="teams({leagueId: league.id})">{{league.leaguename}}</a>
              <button class="btn btn-sm btn-danger pull-right" ng-click="vm.removeLeague(league)">Delete</button>
            </div>
            <div class="panel-body">
              {{ league.description }}
            </div>
          </div>
        </div><!-- /.col-sm-4 -->
      </div>
    </div>
  </div>
</div>