<div id='container'>
  <div class="navigation">
    <ul>
      
    </ul>
  </div>
  <h1>Leagues</h1>

    <form name="createLeagueForm" ng-submit='createLeague()'>
      <input type='text'ng-model='data.leaguename' novalidate required>
      <input type='text' ng-model='data.sport' novalidate required>
      <button ng-disabled="createLeagueForm.$invalid">Create League</button>
    </form>

    <div class="leagues">
      <div ng-repeat="league in data.leagues" class="league" ng-click="selectLeague(league)">
        <img src="../assets/redirect_icon.png" />
        <div class="title">{{league.leaguename}}</div>
        <div class="original">{{ league.sport }}</div>
      </div>
    </div>
</div>
