<div id="leagues" ng-controller='LeaguesCtrl as ctrl' layout="column">
    
      <h1>Create a League</h1>

    <form name="createLeagueForm" ng-submit='ctrl.createLeague()'>
      <div class="input-group input-group-lg">
        <input type='text' class="form-control" aria-describedby="sizing-addon1" ng-model='ctrl.data.leaguename' placeholder="League Name" novalidate required>
      </div>
      <div class="input-group input-group-lg">
        <input type='text' class="form-control" aria-describedby="sizing-addon1" ng-model='ctrl.data.description' placeholder="Description" novalidate required>
      </div>
      <br>
      <button type="submit" class="btn btn-lg btn-default" ng-disabled="createLeagueForm.$invalid">Create League</button>
    </form>

  <md-toolbar class="md-warn">
    <div class="md-toolbar-tools">
      <h2 class="md-flex">Active Leagues</h2>
    </div>
  </md-toolbar>

  <md-content md-theme="docs-dark" layout-padding layout="row" layout-sm="column">
    <md-input-container flex>
      <label>Filter</label>
      <input ng-model="ctrl.filter">
    </md-input-container>
  </md-content>

  <md-grid-list
        md-cols-sm="1" md-cols-md="2" md-cols-gt-md="6"
        md-row-height-gt-md="1:1" md-row-height="2:2"
        md-gutter="12px" md-gutter-gt-sm="8px" >
    <md-grid-tile class="league" ng-repeat="league in ctrl.data.leagues | filter:ctrl.filter"
        md-rowspan="1" md-colspan="2" md-colspan-sm="1">
      <md-grid-tile-header>
        <h2 class="md-title">{{league.leaguename}}</h2>
      </md-grid-tile-header>
          <p>{{league.description}}</p>
          <md-button class="md-icon-button" aria-label="Delete" ng-click="ctrl.removeLeague(league)">
            <i class="fa fa-times-circle-o fa-2x"></i>
          </md-button>
    </md-grid-tile>
  </md-grid-list>
  <br>
</div>
