<div id='container'>
  <div class="navigation">
    <ul>
      <li>
        <a href="#/shorten">Shorten Link</a>
      </li>
    </ul>
  </div>
  <h1>Links</h1>

    <input ng-model="filterText" type="text" placeholder="Filter">

    <ul class="info">
      <!-- insert images -->
      <li ng-repeat="link in data.links | filter:filterText | orderBy:'-visits'">
        <img src="../assets/redirect_icon.png" />
        <div class="visits"><span class="count">{{link.visits}}</span>Visits</div>
        <div class="title">{{link.title}}</div>
        <div class="original">{{link.url}}</div>
        <a href='http://localhost:8000/api/links/{{link.code}}'>{{link.base_url}}/{{link.code}}</a>
      </li>
    </ul>
</div>
