<div id='container'>

  <h2>Members</h2>

  <form name="addMemberForm" ng-submit='addMember()'>
    <input type='text'ng-model='data.username' novalidate required>
    <button ng-disabled="addMemberForm.$invalid">Add Member</button>
  </form>

  <div class="leagues">
      <div ng-repeat="member in data.members" class="league">
        <img src="../assets/redirect_icon.png" />
        <div class="title">{{member.username}}</div>
        <button class="delete" ng-click="removeMember(member)">Delete</button>
      </div>
    </div>
</div>


