<div id="members" ng-controller='MembersCtrl as ctrl' layout="column">
  <h1 class="md-display-1">Members</h1>

    <form name="addMemberForm" ng-submit='ctrl.addMember()'>
      <md-input-container flex>
        <label>Username</label>
        <input ng-model="ctrl.data.username" required>
      </md-input-container>
      <md-button type="submit" class="md-secondary" ng-disabled="addMemberForm.$invalid">Add Member</md-button>
    </form>


  <md-content>
    <md-list-item ng-repeat="member in ctrl.data.members" class="secondary-button-padding">
      <p>{{member.username}}</p>
      <md-button class="md-warn" ng-click="ctrl.removeMember(member)">Delete</md-button>
    </md-list-item>
  </md-content>