<div class="container theme-showcase" role="main">
  <div class="container">
    <div class="page-header">
      <h1>Games</h1>
    </div>


    <form name="addGameForm" ng-submit='addGame()'>
      <select name="teamSelect" id="teamSelect" ng-model="data.team2" ng-options="team.teamname for team in data.teams | filter:teamFilter" >
      </select>
      <div class="input-group input-group-md">
        <input type='number' class="form-control" aria-describedby="sizing-addon1" ng-model='data.teamscore1' placeholder="Team Score" novalidate required>
      </div>
      <div class="input-group input-group-md">
        <input type='number' class="form-control" aria-describedby="sizing-addon1" ng-model='data.teamscore2' placeholder="Opposing Score" novalidate required>
      </div>
      <br>
      <button type="submit" class="btn btn-lg btn-default" ng-disabled="addGameForm.$invalid">Add Game</button>
    </form>
  </div>
  
  <div class="row">
    <div class="col-md-6">
      <table class="table">
        <thead>
          <tr>
            <th>Home Team</th>
            <th>Away Team</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="game in data.games track by $index">
            <td>{{game[1][0]}} ({{game[0].teamScore}})</td>
            <td>{{game[1][1]}} ({{game[0].opponentScore}})</td>
            <td><button class="btn btn-sm btn-danger" ng-click="removeGame(game)">Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
