<div id='container'>

  <h2>Games</h2>

  <form name="addGameForm" ng-submit='addGame()'>
    <input type='text'ng-model='data.teamname2' placeholder="Opposing Team" novalidate required>
    <input type='number'ng-model='data.teamscore1' placeholder="Team Score" novalidate required>
    <input type='number'ng-model='data.teamscore2' placeholder="Opposing Team Score" novalidate required>
    <button ng-disabled="addGameForm.$invalid">Add Game</button>
  </form>

  <div class="leagues">
    <div ng-repeat="game in data.games track by $index" class="league">
      <img src="../assets/redirect_icon.png" />
      <div class='gamedisplay'>
        <div class="title">{{game.Team.teamname}} {{game.team1score}}</div>
        <div class="title">{{game.team2name}} {{game.team2score}}</div>
        <button class="delete" ng-click="removeGame(game)">Delete</button>
      </div>
    </div>
  </div>
</div>