<div id='signup'>
  <h1>signup</h1>
  <form name="signupForm" ng-submit='signup()'>
    <input type='text' ng-model='user.username' novalidate required>
    <input type="password" ng-model='user.password' novalidate required>
    <button ng-disabled="signupForm.$invalid">signup</button>
  </form>
  <div role="alert">
  <span class="error" ng-show="signupForm.$invalid && signupForm.$dirty">
    Username and Password are required!</span>
  </div>
  <a href="#/signin">Already have an account? <strong>Signin</strong> ...</a>
</div>
